* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto ;
}

*, *:hover, *:active, *:focus {
    outline: none;
}
body{ 
    margin: 0;
    background-color: #F7F7F7;;
}
.header { display: flex;
    background-color:purple;

}

@font-face{
    font-family: 'Roboto';
    src: local('Roboto'),
    url('Roboto-Light.ttf')
}
.wrapper   {
    width: 1060px;
    max-width: 100%;
    margin: auto;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
}
.header__item {
    display: flex;
    align-items: center;
}
.header__item:first-of-type{
    flex-direction: column;
    justify-content: center;
}
.header__item:last-of-type
 {
    font-size: 20px;
    text-align: right;
    font-style: italic;
    color: seashell;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
nav {
    margin-top: 0;
    color:rgb(165, 165, 165);
}
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    color:rgb(165, 165, 165);
    }

nav a {
    display:block;
    padding:0 10px;
    color:rgb(165, 165, 165);
    font-size:16px;
    line-height: 60px;
    text-decoration:none;
    font-family: sans-serif;
}

nav a:hover {
    color:purple;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
nav ul li:hover > ul {
    display:inherit;
}
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
.all {
    background-image:url(purple.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 600px;
}
.nazvanie {
    display: flex;
    max-height: 300  px;
    flex-direction: column;
    align-items: center;
}
.name {
    display: flex;
    align-items: center;   
    margin-top: 100px; 
}

.name::before {
    content: '';
    height: 3px;
    width: 20px;
    background-color:blueviolet;
    margin-right: 30px;
}
.name::after {
    content: '';
    height: 3px;
    width: 20px;
    background-color:blueviolet;
    margin-left: 30px;
}
.interaction {
    display: flex;
    flex-direction: column;      
    width: 270px;
    height: 211px;
}
.subtitle {
    position: absolute;
    left: 5px;
}
.component {
    position: relative;
    margin: auto;
}
.entry {
    width: 270px;
    height: 40px;
    border: none;
}
main{
    background-color: white;
    width: 1200px;
    box-shadow: 0 0 10px;
    margin: auto;
    margin-top: -200px;
}
.up {
    text-align: center;
}
.up1 {
    color: #525252;
}
.up2{
    color: #aaa;
    font-style: italic;
    font-size: 25px;
}
.up2::after{
    content: '';
    display: block;
    position: absolute;
    background-color: red;
    width: 220px;
    height: 4px;
    margin-left: 490px;
    margin-top: 24px;
}
.columns {
    text-align: center;
    display: flex;
    margin-top: 71px;
}
.columns::after{
    content: '';
    display: block;
    position: absolute;
    background-color: red;
    width: 220px;
    height: 4px;
    margin-left: 490px;
    margin-top: 404px;
    font-size: 20px;
}
.st {
    width: 33.33333333%;
    margin: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
.text {
    height: 80px;
    margin-bottom: 70px;
}
.subscription {
    font-size: 15px;
    padding: 12px;
    background-color: #6f4568;
    color: #fff;
    text-decoration: none;
}
.subscription:hover {
    background-image: linear-gradient(to bottom,#775170,#693d62);
}
.introduction {
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 170px;
    font-size: 15px;
}
.indent {
    margin-bottom: 20px;
}

.introduction2 {
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 15px;
}
.icon {
    width: 82px;
}
.indent2 {
    margin-bottom: 70px;
}
.perfomance{
    margin-top: 70px;
}
.perfomance::after{
    content: "";
    background-image: url(border.png);
    display: block;
    width: 1074px;
    height: 10px;
    margin-bottom: 30px;
}
.pictures {
    max-width: 200px;
    max-height: 200px;
}
.gallery {
    margin-left: 70px;
}
.gallery__item {
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
}
.gallery__item:hover::after {
    content: '';
    background: rgba(0,0,0,0.5) url(magnifier.png) 50% 50% no-repeat;
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    margin-top: -204px;
    transition: .3s ease-out;
}
.location {
    padding: 70px;
    border-top: 1px solid #eaeef0;
    display: flex;
}
.location__item::after{
    content: "";
    background-image: url(border.png);
    display: block;
    height: 10px;
    margin-top: 10px;
    width: 512.500px;
}
.phone {
    margin-top: 20px;
    margin-bottom: 20px;
    color:#525252;
    text-decoration: none;
    display: inline-block;
    font-weight: 900;
} 
.phone:hover {
    color: rgba(82, 82, 82, 0.7);
}
.adress {
    width: 50%;
}